.children-main-layout {
    padding-top: 1rem;
    padding-bottom: 3.5rem;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
