.container {
    width: 100%;
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem;
}

/* sm ≥ 640px */
@media (min-width: 640px) {
    .container {
        width: 100%;
        max-width: none;
        padding-left: 1.5rem; /* px-6 */
        padding-right: 1.5rem;
    }
}

/* md ≥ 768px */
@media (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
        padding-left: 2rem; /* px-8 */
        padding-right: 2rem;
    }
}

/* lg ≥ 1024px */
@media (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: none;
        padding-left: 2.5rem; /* px-10 */
        padding-right: 2.5rem;
    }
}

/* xl ≥ 1280px */
@media (min-width: 1280px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        padding-left: 5rem; /* px-20 */
        padding-right: 5rem;
    }
}

/* 2xl ≥ 1536px */
@media (min-width: 1536px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1536px;
        padding-left: 6rem; /* px-24 */
        padding-right: 6rem;
    }
}
